﻿* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'vag_roundedbold';
	src: url("media/fonts/vag_rounded_bold.woff") format("woff");
}
@font-face {
	font-family: 'vag_roundedbold';
	src: url("assets/vag_rounded_bold.woff") format("woff"), url("assets/vag_rounded_bold.ttf") format('truetype');
}
body {
    background: black;
}
.fontPreload{
    position:absolute;
    left:-100px;
}
